beautifulsoup4==4.12.3
lxml==5.2.2
Flask[async]==3.0.3
asgiref==3.8.1
Flask-Caching==2.3.0
pylibmc==1.6.3
uvicorn[standard]==0.30.3
rfeed==1.1.1
cssutils==2.11.1
httpx==0.27.0
redis==5.0.7
pygtail==0.14.0
ConfigArgParse==1.7
